<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      h1 { color: ##eb9586 }
      p { color: black }
      button { color: black; padding-left: 10px; padding-right: 10px; border: none; color: white; width: 100px; height: 20px;}
      body{ background-color: rgb(255, 183, 183); display: flex; justify-items: center; align-items: center;}
    </style>

  </head>
  <body>
      <h1>WELCOME TO TBFE</h1>
      <h2>Hello {{name}}</h2>
      <h3>Continue you register with - {{email}}</h3>
      <p>    A comprehensive content platform that provides readers with
                    a wide range of information on a variety of topics. From the
                    latest news and current events, to lifestyle and personal
                    development, the platform aims to be a one-stop-shop for all
                    things related to blogging. Whether you&apos;re looking to
                    stay informed, learn something new, or simply be
                    entertained, &quot;The Blog for Everything&quot; has
                    something for everyone.</p>
      <button href={{url}}>REGISTER</button>
  </body>
</html>