@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  contain: paint;
  font-family: 'Inter';
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #262626;
  }
}



@media only screen and (min-width: 768px)
{
  .header-card-dark{
    background-image: linear-gradient(90deg, transparent 0, rgba(0,0,0,.5) 25%, rgba(0, 0, 0, .7) 50%, rgb(0, 0, 0) 100%),url(/sample-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-card-light{
    background-image: linear-gradient(90deg, transparent 0, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.9) 50%, rgb(255, 255, 255) 100%),url(/sample-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 767px){
  .header-card-dark{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.649) 25%, rgba(0, 0, 0, 0.641) 50%, rgba(0, 0, 0, 0.665) 100%),url(/sample-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .header-card-light{
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.897) 50%, rgba(255, 255, 255, 0.831) 100%),url(/sample-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

::-webkit-scrollbar{
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track{
  background-color: #262626;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(73, 73, 73);
  border-radius: 50px;
}



@media only screen and (min-width: 601px) {
  .profile-icon:hover .drop-down{
    display: flex;
  }
}
@media only screen and (min-width: 768px){
  .top-card{
    box-shadow: -1rem 0 3rem -1rem black;
    transition: all;
    transition-duration: 0.5s;
  }
  .top-card:hover~.top-card{
    transform: translateX(100px);
  }
}

.post-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgb(0, 0, 0,.8) 50%, rgba(0, 0, 0, 0.9) 90%, rgb(0, 0, 0) 100%),url(/sample-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.post-page-light{
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.9) 90%, rgb(255, 255, 255) 100%),url(/sample-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mail-btn:hover .mail-title{
  transform: translateY(100px);
}
.mail-btn:hover .mail-address{
  transform: translateY(-15px);
}

.signin-form{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.739) 0%, rgba(0, 0, 0, 0.772) 50%, rgba(0, 0, 0, 0.739) 100%),url(/sample-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signin-form-light{
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.739) 0%,rgba(255, 255, 255, 0.772) 50%, rgba(255, 255, 255, 0.739) 100%),url(/sample-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-chat-btn:hover .sub-comments{
  color:white;
}

.animation-effect{
  transition: all;
  transition-duration: .2s;
}

.copy-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  opacity: 50%;
  color:white;
}